<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>テストwebアプリ</title>
</head>
<body>
    
    <h1>地域掲示板</h1>
    <p>USERページ</p>
    <a href="{{ url_for('post') }}">投稿機能</a> <!-- views.pyのindex -->
    
    <section>
        <h2>投稿一覧</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">日付</th>
                    <th scope="col">名前</th>
                    <th scope="col">タイトル</th>
                    <th scope="col">投稿内容</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in data %}
                    <tr>
                        <td>{{ entry['日付'] }}</td>
                        <td>{{ entry['名前'] }}</td>
                        <td>{{ entry['タイトル'] }}</td>
                        <td>
                            <div style="white-space: pre-wrap;">{{ entry['投稿内容'] }}</div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
</html>

<!---
    <section>
        
    </section>
    <section>
        <h2>投稿一覧</h2>
        <p>投稿はまだありません</p>
    </section>
    <section>

    </section>
    

</body>
</html>